{% extends 'components/layouts/default.html' %}
{% load static %}

{% block content %}

    <script src="{% static 'js/simple-datatables.js' %}"></script>

    <script defer src="{% static 'js/apexcharts.js' %}"></script>

    <!-- start hightlight js -->
    <link rel="stylesheet" href="{% static 'css/highlight.min.css' %}">
    <script src="{% static 'js/highlight.min.js' %}"></script>
    <!-- end hightlight js -->

    <div>
        <ul class="flex space-x-2 rtl:space-x-reverse">
            <li>
                <a href="javascript:;" class="text-primary hover:underline">飞行数据管理系统</a>
            </li>
            <li class="before:content-['/'] ltr:before:mr-1 rtl:before:ml-1">
                <span>数据大屏</span>
            </li>
        </ul>
    </div>

    <div class="pt-5">
        <div class="grid xl:grid-cols-4 gap-6 mb-6">
            <div class="panel h-full xl:col-span-1" >
                <div class="flex items-center justify-between mb-5">
                    <h5 class="font-semibold text-lg dark:text-white-light">风险预警</h5>
                </div>
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th class="ltr:rounded-l-md rtl:rounded-r-md">航班ID</th>
                                <th class="text-center ltr:rounded-r-md rtl:rounded-l-md">风险</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in risk_info %}
                            <tr>
                                <td class="font-semibold">{{ r.dynamic_flight_id }}</td>
                                <td class="text-center">
                                    <span class="badge bg-success/20 text-success rounded-full hover:top-0">{{ r.risk }}</span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel h-full xl:col-span-2" x-data="chart">
                <div class="flex items-center justify-between mb-5">
                    <h5 class="font-semibold text-lg dark:text-white-light">空域流量监测</h5>
                </div>
                <div x-ref="areaChart" class="bg-white dark:bg-black rounded-lg overflow-hidden"></div>
            </div>
            <div class="panel h-full xl:col-span-1" >
                <div class="flex items-center justify-between mb-5">
                    <h5 class="font-semibold text-lg dark:text-white-light">航班正常率</h5>
                </div>
                <div x-ref="donutChart" class="bg-white dark:bg-black rounded-lg overflow-hidden"></div> 
            </div>
        </div>
        
        <div class="grid xl:grid-cols-4 gap-6 mb-6">
            <div class="panel  xl:col-span-2">
                <div class="flex items-center dark:text-white-light mb-5">
                    <h5 class="font-semibold text-lg">航班可视化</h5>
                    <div x-data="dropdown" @click.outside="open = false" class="dropdown ltr:ml-auto rtl:mr-auto">
                        <a href="javascript:;" @click="toggle">
                            <svg class="w-5 h-5 text-black/70 dark:text-white/70 hover:!text-primary"
                                 viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="5" cy="12" r="2" stroke="currentColor" stroke-width="1.5"/>
                                <circle opacity="0.5" cx="12" cy="12" r="2" stroke="currentColor"
                                        stroke-width="1.5"/>
                                <circle cx="19" cy="12" r="2" stroke="currentColor" stroke-width="1.5"/>
                            </svg>
                        </a>
                        <ul x-cloak x-show="open" x-transition x-transition.duration.300ms
                            class="ltr:right-0 rtl:left-0">
                            <li><a href="javascript:;" @click="toggle">进场</a></li>
                            <li><a href="javascript:;" @click="toggle">离场</a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div id="FlightLine" style="width:100%; height: 600px;"></div>
                </div>
            </div>
            
            
            <div class="panel h-full xl:col-span-2" >
                <div class="flex items-center justify-between mb-5">
                    <h5 class="font-semibold text-lg dark:text-white-light">航班状态</h5>
                </div>
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th class="ltr:rounded-l-md rtl:rounded-r-md">航班ID</th>
                                <th>路线</th>
                                <th class="text-center ltr:rounded-r-md rtl:rounded-l-md">状态</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for flight in flight_info %}
                            <tr>
                                <td class="font-semibold">{{ flight.dynamic_flight_id }}</td>
                                <td class="whitespace-nowrap">{{ flight.route }}</td>
                                <td class="text-center">
                                    <span class="badge bg-success/20 text-success rounded-full hover:top-0">{{ flight.progress_status }}</span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="grid sm:grid-cols-3 xl:grid-cols-5 gap-6 mb-6">
            <div class="panel h-full sm:col-span-3 xl:col-span-2">
                <div class="flex items-center justify-between mb-5">
                    <h5 class="font-semibold text-lg dark:text-white">空域机型统计</h5>
                </div>
                <div x-ref="barChart" class="bg-white dark:bg-black rounded-lg overflow-hidden"></div>
            </div>
            <div class="panel h-full sm:col-span-3 xl:col-span-3" x-data="chart1">
                <div class="flex items-center justify-between mb-5">
                    <h5 class="font-semibold text-lg dark:text-white">进离场点流量统计</h5>
                </div>
                <div x-ref="uniqueVisitorSeries" class="overflow-hidden">
                    <!-- loader -->
                    <div class="min-h-[360px] grid place-content-center bg-white-light/30 dark:bg-dark dark:bg-opacity-[0.08] ">
                        <span class="animate-spin border-2 border-black dark:border-white !border-l-transparent  rounded-full w-5 h-5 inline-flex"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid xl:grid-cols-1 gap-6 mb-6">
            <div class=" panel h-full">
                <div class="flex items-center mb-5">
                    <h5 class="font-semibold text-lg dark:text-white-light">机场终端区</h5>
                </div>
                <div class="overflow-hidden">
                    <div class="panel h-full" id="adsb" style="width:100%; height: 800px; ">
                    </div>
                </div>
            </div>
        </div>

        <div class="grid xl:grid-cols-1 gap-6 mb-6">
            <div x-data="custom">
                <div class="space-y-10">
                    <div class="panel sticky-header">
                        <h5 class="md:absolute md:top-[25px] md:mb-0 mb-5 font-semibold text-lg dark:text-white-light">进场航班信息</h5>
                        <table id="myTable1" class="whitespace-nowrap table-checkbox table-striped table-hover"></table>
                    </div>
                </div>
            </div>
        </div> 

    </div>

    <!-- 表格 -->
    <script>
        document.addEventListener("alpine:init", () => {
            Alpine.data("custom", () => ({
                ids1: [],
                datatable1: null,
                tableData1: {{ flight_info_json|safe }},
                init() {
                    this.datatable1 = new simpleDatatables.DataTable('#myTable1', {
                        data: {
                            headings: ['Flight ID','航线','飞行器','Recat-CN','停机位','停机位区域','进场点','进场时间','ETA','ETD'],
                            data: this.tableData1,
                        },
                        perPage: 20,
                        perPageSelect: [10, 20, 30, 50, 100],
                        columns: [
                            {
                                select: 0,
                                render: (data, cell, row) => {
                                    return `<strong>${data}</strong>`;
                                },
                            },
                        ],
                        firstLast: true,
                        firstText: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M13 19L7 12L13 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M16.9998 19L10.9998 12L16.9998 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>',
                        lastText: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M11 19L17 12L11 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M6.99976 19L12.9998 12L6.99976 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>',
                        prevText: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M15 5L9 12L15 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>',
                        nextText: '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M9 5L15 12L9 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>',
                        labels: {
                            perPage: "{select}"
                        },
                        layout: {
                            top: "{search}",
                            bottom: "{info}{select}{pager}",
                        },
                    });

                },

                formatDate(date) {
                    if (date) {
                        const dt = new Date(date);
                        const month = dt.getMonth() + 1 < 10 ? '0' + (dt.getMonth() + 1) : dt.getMonth() + 1;
                        const day = dt.getDate() < 10 ? '0' + dt.getDate() : dt.getDate();
                        return day + '/' + month + '/' + dt.getFullYear();
                    }
                    return '';
                },

                checkAll1(isChecked) {
                    if (isChecked) {
                        this.ids1 = this.tableData1.map((d) => {
                            return d[0];
                        });
                    } else {
                        this.ids1 = [];
                    }
                },

            }));
        });
    </script>

    <script>
        document.addEventListener("alpine:init", () => {
            Alpine.data("chart1", () => ({

                init() {
                    
                    const uniqueVisitorSeries = null;
                

                    isDark = this.$store.app.theme === "dark" || this.$store.app.isDarkMode ? true : false;
                    isRtl = this.$store.app.rtlClass === "rtl" ? true : false;
                    setTimeout(() => {
                    

                        // unique visitors
                        this.uniqueVisitorSeries = new ApexCharts(this.$refs.uniqueVisitorSeries, this.uniqueVisitorSeriesOptions);
                        this.$refs.uniqueVisitorSeries.innerHTML = "";
                        this.uniqueVisitorSeries.render();

                        
                    }, 300);

                    this.$watch('$store.app.theme', () => {
                        isDark = this.$store.app.theme === "dark" || this.$store.app.isDarkMode ? true : false;
                        this.uniqueVisitorSeries.updateOptions(this.uniqueVisitorSeriesOptions);
                    
                    });

                    this.$watch('$store.app.rtlClass', () => {
                        isRtl = this.$store.app.rtlClass === "rtl" ? true : false;
                        this.uniqueVisitorSeries.updateOptions(this.uniqueVisitorSeriesOptions);
                    });
                },

                

                // unique visitors
                get uniqueVisitorSeriesOptions() {
                    var seriesData = {{ point_data | safe }};
                    var series_t = JSON.stringify(seriesData);
                    var series_json = JSON.parse(series_t);
                    return {
                        series: series_json,
                        chart: {
                            height: 360,
                            type: 'bar',
                            fontFamily: 'Nunito, sans-serif',
                            toolbar: {
                                show: false
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            width: 2,
                            colors: ['transparent']
                        },
                        colors: ['#5c1ac3', '#ffbb44'],
                        dropShadow: {
                            enabled: true,
                            blur: 3,
                            color: '#515365',
                            opacity: 0.4,
                        },
                        plotOptions: {
                            bar: {
                                horizontal: false,
                                columnWidth: '55%',
                                borderRadius: 10
                            }
                        },
                        legend: {
                            position: 'bottom',
                            horizontalAlign: 'center',
                            fontSize: '14px',
                            itemMargin: {
                                horizontal: 8,
                                vertical: 8
                            }
                        },
                        grid: {
                            borderColor: isDark ? '#191e3a' : '#e0e6ed',
                            padding: {
                                left: 20,
                                right: 20
                            }
                        },
                        xaxis: {
                            categories: ['HO','TEBIB','LOVRA','NSH','SHX'],
                            axisBorder: {
                                show: true,
                                color: isDark ? '#3b3f5c' : '#e0e6ed'
                            },
                        },
                        yaxis: {
                            tickAmount: 6,
                            opposite: isRtl ? true : false,
                            labels: {
                                offsetX: isRtl ? -10 : 0,
                            }
                        },
                        fill: {
                            type: 'gradient',
                            gradient: {
                                shade: isDark ? 'dark' : 'light',
                                type: 'vertical',
                                shadeIntensity: 0.3,
                                inverseColors: false,
                                opacityFrom: 1,
                                opacityTo: 0.8,
                                stops: [0, 100]
                            },
                        },
                        tooltip: {
                            marker: {
                                show: true,
                            },
                            y: {
                                formatter: (val) => {
                                    return val;
                                },
                            },
                        },
                    }
                },

                
            }));
        });
    </script>

    <!-- 折线图 -->
    <script>
        document.addEventListener("alpine:init", () => {
            Alpine.data("chart", () => ({
                
                
                areaChart: null,
               
                donutChart: null,

                barChart: null,
                
                init() {
                    isDark = this.$store.app.theme === "dark" || this.$store.app.isDarkMode ? true : false;
                    isRtl = this.$store.app.rtlClass === "rtl" ? true : false;

                    setTimeout(() => {
                        

                        this.areaChart = new ApexCharts(this.$refs.areaChart, this
                            .areaChartOptions);
                        this.areaChart.render();

                        

                        this.donutChart = new ApexCharts(this.$refs.donutChart, this
                            .donutChartOptions);
                        this.donutChart.render();

                        this.barChart = new ApexCharts(this.$refs.barChart, this
                        .barChartOptions);
                        this.barChart.render();

                        
                    }, 300);

                    this.$watch('$store.app.theme', () => {
                        this.refreshOptions();
                    })

                    this.$watch('$store.app.rtlClass', () => {
                        this.refreshOptions();
                    })

                },

                refreshOptions() {
                    isDark = this.$store.app.theme === "dark" || this.$store.app.isDarkMode ? true : false;
                    isRtl = this.$store.app.rtlClass === "rtl" ? true : false;
                    this.areaChart.updateOptions(this.areaChartOptions);
                    
                    this.donutChart.updateOptions(this.donutChartOptions);

                    this.barChart.updateOptions(this.barChartOptions);
                    
                },

                    

                get areaChartOptions() {
                    
                    var seriesData = {{ flow_data | safe }};
                    var series_t = JSON.stringify(seriesData);
                    var series_json = JSON.parse(series_t);

                    var labels= {{ flow_label | safe}};
                    
                    return {
                        series: series_json,
                        chart: {
                            type: 'area',
                            height: 300,
                            zoom: {
                                enabled: false
                            },
                            toolbar: {
                                show: false
                            }
                        },
                        colors: ['#805dca'],
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            width: 2,
                            curve: 'smooth'
                        },
                        xaxis: {
                            axisBorder: {
                                color: isDark ? '#191e3a' : '#e0e6ed'
                            },
                        },
                        yaxis: {
                            opposite: isRtl ? true : false,
                            labels: {
                                offsetX: isRtl ? -40 : 0,
                            }
                        },
                        labels: labels,
                        legend: {
                            horizontalAlign: 'left'
                        },
                        grid: {
                            borderColor: isDark ? '#191e3a' : '#e0e6ed',
                        },
                        tooltip: {
                            theme: isDark ? 'dark' : 'light',
                        }
                    }
                },

                
                get donutChartOptions() {
                    var data = {{ status_data | safe }};
                    var labels = {{ status_label | safe }};
                    console.log(labels)
                    return {
                        series: data,
                        chart: {
                            height: 300,
                            type: 'donut',
                            zoom: {
                                enabled: false
                            },
                            toolbar: {
                                show: false
                            }
                        },
                        stroke: {
                            show: false,
                        },
                        labels: labels,
                        colors: ['#805dca', '#e2a03f', '#4361ee'],
                        responsive: [{
                            breakpoint: 480,
                            options: {
                                chart: {
                                    width: 200
                                }
                            }
                        }],
                        legend: {
                            position: 'bottom',
                        },
                    }
                },

                get barChartOptions() {
                    var data = {{ aircraft_type_data|safe }};
                    var labels = {{ aircraft_type_label|safe }};
                    return {
                        series: data,
                        chart: {
                            height: 300,
                            type: 'bar',
                            zoom: {
                                enabled: false
                            },
                            toolbar: {
                                show: false
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            show: true,
                            width: 1
                        },
                        colors: ['#4361ee'],
                        xaxis: {
                            categories: labels,
                            axisBorder: {
                                color: isDark ? '#191e3a' : '#e0e6ed'
                            },
                        },
                        yaxis: {
                            opposite: isRtl ? true : false,
                            reversed: isRtl ? true : false,
                        },
                        grid: {
                            borderColor: isDark ? '#191e3a' : '#e0e6ed',
                        },
                        plotOptions: {
                            bar: {
                                horizontal: true,
                            }
                        },
                        fill: {
                            opacity: 0.8
                        }
                    }
                },

                

                generateData(baseval, count, yrange) {
                    var i = 0;
                    var series = [];
                    while (i < count) {
                        var x = Math.floor(Math.random() * (750 - 1 + 1)) + 1;;
                        var y = Math.floor(Math.random() * (yrange.max - yrange.min + 1)) + yrange.min;
                        var z = Math.floor(Math.random() * (75 - 15 + 1)) + 15;

                        series.push([x, y, z]);
                        baseval += 86400000;
                        i++;
                    }
                    return series;
                }
            }));
        });
    </script>

    <!-- 航线图 -->
    <script>
        var myChart = echarts.init(document.getElementById('FlightLine'))
        var geoCoordMap = {
            '上海虹桥': [121.4648, 31.2891],
            '上海浦东': [121.4648, 31.2891],
            '东莞': [113.8953, 22.901],
            '东营': [118.7073, 37.5513],
            '中山': [113.4229, 22.478],
            '临汾': [111.4783, 36.1615],
            '临沂': [118.3118, 35.2936],
            '丹东': [124.541, 40.4242],
            '丽水': [119.5642, 28.1854],
            '乌鲁木齐': [87.9236, 43.5883],
            '佛山': [112.8955, 23.1097],
            '保定': [115.0488, 39.0948],
            '兰州': [103.5901, 36.3043],
            '包头': [110.3467, 41.4899],
            '北京首都': [116.4551, 40.2539],
            '北京大兴': [116.4551, 40.2539],
            '北海': [109.314, 21.6211],
            '南京': [118.8062, 31.9208],
            '南宁': [108.479, 23.1152],
            '南昌': [116.0046, 28.6633],
            '南通': [121.1023, 32.1625],
            '厦门': [118.1689, 24.6478],
            '台州': [121.1353, 28.6688],
            '合肥': [117.29, 32.0581],
            '呼和浩特': [111.4124, 40.4901],
            '咸阳': [108.4131, 34.8706],
            '哈尔滨': [127.9688, 45.368],
            '唐山': [118.4766, 39.6826],
            '嘉兴': [120.9155, 30.6354],
            '大同': [113.7854, 39.8035],
            '大连': [122.2229, 39.4409],
            '天津': [117.4219, 39.4189],
            '太原': [112.3352, 37.9413],
            '威海': [121.9482, 37.1393],
            '宁波': [121.5967, 29.6466],
            '宝鸡': [107.1826, 34.3433],
            '宿迁': [118.5535, 33.7775],
            '常州': [119.4543, 31.5582],
            '广州': [113.5107, 23.2196],
            '廊坊': [116.521, 39.0509],
            '延安': [109.1052, 36.4252],
            '张家口': [115.1477, 40.8527],
            '徐州': [117.5208, 34.3268],
            '德州': [116.6858, 37.2107],
            '惠州': [114.6204, 23.1647],
            '成都': [103.9526, 30.7617],
            '扬州': [119.4653, 32.8162],
            '承德': [117.5757, 41.4075],
            '拉萨': [91.1865, 30.1465],
            '无锡': [120.3442, 31.5527],
            '日照': [119.2786, 35.5023],
            '昆明': [102.9199, 25.4663],
            '杭州': [119.5313, 29.8773],
            '枣庄': [117.323, 34.8926],
            '柳州': [109.3799, 24.9774],
            '株洲': [113.5327, 27.0319],
            '武汉': [114.3896, 30.6628],
            '汕头': [117.1692, 23.3405],
            '江门': [112.6318, 22.1484],
            '沈阳': [123.1238, 42.1216],
            '沧州': [116.8286, 38.2104],
            '河源': [114.917, 23.9722],
            '泉州': [118.3228, 25.1147],
            '泰安': [117.0264, 36.0516],
            '泰州': [120.0586, 32.5525],
            '济南': [117.1582, 36.8701],
            '济宁': [116.8286, 35.3375],
            '海口': [110.3893, 19.8516],
            '淄博': [118.0371, 36.6064],
            '淮安': [118.927, 33.4039],
            '深圳': [114.5435, 22.5439],
            '清远': [112.9175, 24.3292],
            '温州': [120.498, 27.8119],
            '渭南': [109.7864, 35.0299],
            '湖州': [119.8608, 30.7782],
            '湘潭': [112.5439, 27.7075],
            '滨州': [117.8174, 37.4963],
            '潍坊': [119.0918, 36.524],
            '烟台': [120.7397, 37.5128],
            '玉溪': [101.9312, 23.8898],
            '珠海': [113.7305, 22.1155],
            '盐城': [120.2234, 33.5577],
            '盘锦': [121.9482, 41.0449],
            '石家庄': [114.4995, 38.1006],
            '福州': [119.4543, 25.9222],
            '秦皇岛': [119.2126, 40.0232],
            '绍兴': [120.564, 29.7565],
            '聊城': [115.9167, 36.4032],
            '肇庆': [112.1265, 23.5822],
            '舟山': [122.2559, 30.2234],
            '苏州': [120.6519, 31.3989],
            '莱芜': [117.6526, 36.2714],
            '菏泽': [115.6201, 35.2057],
            '营口': [122.4316, 40.4297],
            '葫芦岛': [120.1575, 40.578],
            '衡水': [115.8838, 37.7161],
            '衢州': [118.6853, 28.8666],
            '西宁': [101.4038, 36.8207],
            '西安': [109.1162, 34.2004],
            '贵阳': [106.6992, 26.7682],
            '连云港': [119.1248, 34.552],
            '邢台': [114.8071, 37.2821],
            '邯郸': [114.4775, 36.535],
            '郑州': [113.4668, 34.6234],
            '鄂尔多斯': [108.9734, 39.2487],
            '重庆江北': [107.7539, 30.1904],
            '金华': [120.0037, 29.1028],
            '铜川': [109.0393, 35.1947],
            '银川': [106.3586, 38.1775],
            '镇江': [119.4763, 31.9702],
            '长春': [125.8154, 44.2584],
            '长沙': [113.0823, 28.2568],
            '长治': [112.8625, 36.4746],
            '阳泉': [113.4778, 38.0951],
            '青岛': [120.4651, 36.3373],
            '韶关': [113.7964, 24.7028]
        };
        var XAData = {{ flight_line_list |safe }};
        var planePath = 'path://M1705.06,1318.313v-89.254l-319.9-221.799l0.073-208.063c0.521-84.662-26.629-121.796-63.961-121.491c-37.332-0.305-64.482,36.829-63.961,121.491l0.073,208.063l-319.9,221.799v89.254l330.343-157.288l12.238,241.308l-134.449,92.931l0.531,42.034l175.125-42.917l175.125,42.917l0.531-42.034l-134.449-92.931l12.238-241.308L1705.06,1318.313z';
        var convertData = function (data) {
            var res = [];
            for (var i = 0; i < data.length; i++) {
                var dataItem = data[i];
                var fromCoord = geoCoordMap[dataItem[0].name];
                var toCoord = geoCoordMap[dataItem[1].name];
                if (fromCoord && toCoord) {
                    res.push({
                        fromName: dataItem[0].name,
                        toName: dataItem[1].name,
                        coords: [fromCoord, toCoord]
                    });
                }
            }
            return res;
        };
        var color = ['#a6c84c', '#ffa022', '#46bee9'];
        var series = [];
        [['西安', XAData],].forEach(function (item, i) {
            series.push({
                    name: item[0],
                    type: 'lines',
                    zlevel: 1,
                    effect: {
                        show: true,
                        period: 6,
                        trailLength: 0.7,
                        color: '#fff',
                        symbolSize: 3
                    },
                    lineStyle: {
                        normal: {
                            color: color[i],
                            width: 0,
                            curveness: 0.2
                        }
                    },
                    data: convertData(item[1])
                },
                {
                    name: item[0],
                    type: 'lines',
                    zlevel: 2,
                    symbol: ['none', 'arrow'],
                    symbolSize: 10,
                    effect: {
                        show: true,
                        period: 6,
                        trailLength: 0,
                        symbol: planePath,
                        symbolSize: 15
                    },
                    lineStyle: {
                        normal: {
                            color: color[i],
                            width: 1,
                            opacity: 0.6,
                            curveness: 0.2
                        }
                    },
                    data: convertData(item[1])
                },
                {
                    id: item[0] + ' City',
                    name: item[0] + ' Top10',
                    type: 'effectScatter',
                    coordinateSystem: 'geo',
                    zlevel: 2,
                    rippleEffect: {
                        brushType: 'stroke'
                    },
                    label: {
                        normal: {
                            show: true,
                            position: 'right',
                            formatter: '{b}'
                        }
                    },
                    symbolSize: function (val) {
                        return val[2] / 8;
                    },
                    itemStyle: {
                        normal: {
                            color: color[i]
                        }
                    },
                    data: item[1].map(function (dataItem) {

                        return {
                            name: dataItem[1].name,
                            value: geoCoordMap[dataItem[1].name].concat([dataItem[1].value])
                        };
                    })
                });
        });
        option = {
            tooltip: {
                trigger: 'item'
            },
            geo: {
                map: 'china',
                label: {
                    emphasis: {
                        show: false
                    }
                },
                roam: true,
                itemStyle: {
                    normal: {
                        areaColor: '#323c48',
                        borderColor: '#404a59'
                    },
                    emphasis: {
                        areaColor: '#2a333d'
                    }
                }
            },
            series: series
        };
        myChart.setOption(option);
    </script>

    <!-- ADSB -->
    <script>
        var ROOT_PATH = "{% static '/geo_data.json' %}";
        var app = {};

        var chartDom = document.getElementById('adsb');
        var myChart = echarts.init(chartDom);
        var option;

        $.get(ROOT_PATH, function (data) {
            let hStep = 300 / (data.length - 1);
            let busLines = [].concat.apply(
                [],
                data.map(function (busLine, idx) {
                    let prevPt = [];
                    let points = [];
                    for (let i = 0; i < busLine.length; i += 2) {
                        let pt = [busLine[i], busLine[i + 1]];
                        if (i > 0) {
                            pt = [prevPt[0] + pt[0], prevPt[1] + pt[1]];
                        }
                        prevPt = pt;
                        points.push([pt[0] / 1e4, pt[1] / 1e4]);
                    }
                    return {
                        coords: points,
                        lineStyle: {
                            normal: {
                                color: echarts.color.modifyHSL('#5A94DF', Math.round(hStep * idx))
                            }
                        }
                    };
                })
            );
            myChart.setOption(
                (option = {
                    bmap: {
                        center: [108.76, 34.44],
                        zoom: 10,
                        roam: false,
                        mapStyle: {
                            styleJson: [
                                {
                                    featureType: 'water',
                                    elementType: 'all',
                                    stylers: {
                                        color: '#031628'
                                    }
                                },
                                {
                                    featureType: 'land',
                                    elementType: 'all',
                                    stylers: {
                                        color: '#0E1726'
                                    }
                                },
                                {
                                    featureType: 'highway',
                                    elementType: 'all',
                                    stylers: {
                                        visibility: 'off'
                                    }
                                },
                                {
                                    featureType: 'arterial',
                                    elementType: 'geometry.fill',
                                    stylers: {
                                        color: '#000000'
                                    }
                                },
                                {
                                    featureType: 'arterial',
                                    elementType: 'geometry.stroke',
                                    stylers: {
                                        color: '#0b3d51'
                                    }
                                },
                                {
                                    featureType: 'local',
                                    elementType: 'geometry',
                                    stylers: {
                                        color: '#000000'
                                    }
                                },
                                {
                                    featureType: 'railway',
                                    elementType: 'geometry.fill',
                                    stylers: {
                                        color: '#000000'
                                    }
                                },
                                {
                                    featureType: 'railway',
                                    elementType: 'geometry.stroke',
                                    stylers: {
                                        color: '#08304b'
                                    }
                                },
                                {
                                    featureType: 'subway',
                                    elementType: 'geometry',
                                    stylers: {
                                        lightness: -70
                                    }
                                },
                                {
                                    featureType: 'building',
                                    elementType: 'geometry.fill',
                                    stylers: {
                                        color: '#000000'
                                    }
                                },
                                {
                                    featureType: 'all',
                                    elementType: 'labels.text.fill',
                                    stylers: {
                                        color: '#857f7f'
                                    }
                                },
                                {
                                    featureType: 'all',
                                    elementType: 'labels.text.stroke',
                                    stylers: {
                                        color: '#000000'
                                    }
                                },
                                {
                                    featureType: 'building',
                                    elementType: 'geometry',
                                    stylers: {
                                        color: '#022338'
                                    }
                                },
                                {
                                    featureType: 'green',
                                    elementType: 'geometry',
                                    stylers: {
                                        color: '#062032'
                                    }
                                },
                                {
                                    featureType: 'boundary',
                                    elementType: 'all',
                                    stylers: {
                                        color: '#465b6c'
                                    }
                                },
                                {
                                    featureType: 'manmade',
                                    elementType: 'all',
                                    stylers: {
                                        color: '#022338'
                                    }
                                },
                                {
                                    featureType: 'label',
                                    elementType: 'all',
                                    stylers: {
                                        visibility: 'off'
                                    }
                                }
                            ]
                        }
                    },
                   

                    series: [
                        {
                            type: 'lines',
                            coordinateSystem: 'bmap',
                            polyline: true,
                            data: busLines,
                            silent: true,
                            lineStyle: {
                                // color: '#c23531',
                                // color: 'rgb(200, 35, 45)',
                                opacity: 0.2,
                                width: 1
                            },
                            progressiveThreshold: 500,
                            progressive: 200
                        },
                        {
                            type: 'lines',
                            coordinateSystem: 'bmap',
                            polyline: true,
                            data: busLines,
                            lineStyle: {
                                width: 0
                            },
                            effect: {
                                constantSpeed: 20,
                                show: true,
                                trailLength: 0.1,
                                symbolSize: 1.5
                            },
                            zlevel: 1
                        }
                    ]
                })
            );
        });
    </script>




{% endblock %}
